<section class="section">
  <div class="container">
    <div class="columns is-centered">
        <h1 class="title is-2"> Create a new post about non-members</h1><br>
    </div>
    <%= render 'form', post: @post %>
    <%= link_to 'Back', posts_path, class: "button" %>
    
  </div>
</section>


    
